<h1 class="display-4"><%= __('Add Class')%></h1>
<form method="post" action="/classes/create">
  <div class="form-group">
    <%if (typeof msg == 'string') {%>
      <h5 style="color:red"><%=msg%></h5>
    <%};%>   
    </h3>
    <label for="name"><%= __('Name')%></label>
    <input type="text" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label for="lesson"><%= __('Lesson')%></label>
    <input type="text" name="lesson" class="form-control">
  </div>
  <div class="form-group">
    <label for="teacher"><%= __('Teacher')%></label>
    <input type="text" name="teacher" class="form-control">
  </div>
  <%if(students.length > 0) {%>
  <table class="table table-sm table-striped">
    <thead>
    <tr>
      <th><%= __('First Name')%></th>
      <th><%= __('Last Name')%></th>
      <th> </th>
    </tr>
    </thead>
    <tbody>
    <% students.forEach(function (student) { %>
    <tr>
      <td><%=student.firstName%></td>
      <td><%=student.lastName%></td>
      <td><input type="checkbox" name="student" value="<%=student.id%>">  <%= __('Member')%></td>
    </tr>
    <%});%>
    </tbody>
  </table>
  <%}else{%>
    <h5 style="color:red"><%= __('No students find to show here!')%></h5>
  <%}%>
  <button type="submit" value="submit" class="btn btn-primary"><%= __('Submit')%></button>
</form>