<table class="table table-sm table-striped">
  <thead>
  <tr>
    <th><%=__('First Name')%></th>
    <th><%=__('Last Name')%></th>
    <th><%=__('Telephone')%></th>
    <th><%=__('Options')%></th>
  </tr>
  </thead>
  <tbody>
  <% students.forEach(function (student) { %>
  <tr>
    <td><%=student.firstName%></td>
    <td><%=student.lastName%></td>
    <td><%=student.tel%></td>
    <td>
      <%if(req.session.user[0].role == 'tch' || req.session.user[0].role == 'adm') {%>
        <a href="/students/delete/<%=student.id%>" class="btn btn-sm btn-danger"><%=__('Delete')%></a>
        <a href="/students/edit/<%=student.id%>" class="btn btn-sm btn-primary"><%=__('Edit')%></a>
      <%}%>
      <a href="/students/report/<%=student.id%>" class="btn btn-sm btn-primary"><%=__('Report')%></a>
    </td>
  </tr>
  <%});%>
  </tbody>
</table>
